<?xml version="1.0" encoding="UTF-8"?><web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>eBuy-web</display-name>
    <distributable/>
    <filter>
        <filter-name>com.ibm.ebuy.servlet.LoginFilter</filter-name>
        <filter-class>com.ibm.ebuy.servlet.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>com.ibm.ebuy.servlet.LoginFilter</filter-name>
        <url-pattern>/jsp/pay.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>com.ibm.ebuy.servlet.LoginFilter</filter-name>
        <servlet-name>com.ibm.ebuy.servlet.PayServlet</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>com.ibm.ebuy.servlet.EBuyActionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>com.ibm.ebuy.management.StressUserServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.management.StressUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ibm.ebuy.servlet.BookServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ibm.ebuy.servlet.LoginServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ibm.ebuy.servlet.CartServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.servlet.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ibm.ebuy.servlet.RegisterServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ibm.ebuy.servlet.PayServlet</servlet-name>
        <servlet-class>com.ibm.ebuy.servlet.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.management.StressUserServlet</servlet-name>
        <url-pattern>/StressUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.servlet.BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.servlet.LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.servlet.CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.servlet.RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ibm.ebuy.servlet.PayServlet</servlet-name>
        <url-pattern>/PayServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.CartServlet/bookBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.BookBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.CartServlet</injection-target-class>
            <injection-target-name>bookBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.CartServlet/calculator</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.Calculator</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.CartServlet</injection-target-class>
            <injection-target-name>calculator</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.BookServlet/userCounterBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.UserCounterBean</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.BookServlet</injection-target-class>
            <injection-target-name>userCounterBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.BookServlet/counterBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.CounterBean</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.BookServlet</injection-target-class>
            <injection-target-name>counterBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.BookServlet/userCounterBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.UserCounterBean</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.BookServlet</injection-target-class>
            <injection-target-name>userCounterBean2</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.BookServlet/bookBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.BookBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.BookServlet</injection-target-class>
            <injection-target-name>bookBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.management.StressUserServlet/userBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.UserBean</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.management.StressUserServlet</injection-target-class>
            <injection-target-name>userBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.LoginServlet/userBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.UserBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.LoginServlet</injection-target-class>
            <injection-target-name>userBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.RegisterServlet/userBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.UserBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.RegisterServlet</injection-target-class>
            <injection-target-name>userBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.PayServlet/orderBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.OrderBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.PayServlet</injection-target-class>
            <injection-target-name>orderBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>com.ibm.ebuy.servlet.PayServlet/bookBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>com.ibm.ebuy.service.interfaces.BookBeanLocal</local>
        <injection-target>
            <injection-target-class>com.ibm.ebuy.servlet.PayServlet</injection-target-class>
            <injection-target-name>bookBean</injection-target-name>
        </injection-target>
    </ejb-local-ref>
</web-app>