<server description="new server">

    <featureManager>
        <feature>enterpriseBeansLite-4.0</feature>
        <feature>persistence-3.0</feature>
        <feature>pages-3.0</feature>
        <feature>servlet-5.0</feature>
        <feature>monitor-1.0</feature>	
        <feature>mpMetrics-4.0</feature>	
        <feature>microProfile-5.0</feature>
    </featureManager>
    <applicationManager autoExpand="true"/>
    <mpMetrics authentication="false"/>
    <variable defaultValue="50000" name="EBUY_portNumber_1"/>
    <variable defaultValue="9443" name="httpEndpoint_secure_port_1"/>
    <variable defaultValue="9080" name="httpEndpoint_port_1"/>
    <variable defaultValue="*" name="httpEndpoint_host_1"/>
    <variable defaultValue="EBUY" name="EBUY_databaseName_1"/>
    <variable defaultValue="db2inst1" name="dmgr_ebuyUser_user_1"/>
    <httpEndpoint host="${httpEndpoint_host_1}" httpPort="${httpEndpoint_port_1}" httpsPort="${httpEndpoint_secure_port_1}" id="defaultHttpEndpoint"/>
    <!-- <enterpriseApplication location="eBuy.ear"/> -->
    <enterpriseApplication location="${server.config.dir}/apps/ebuy.ear" type="ear"/>
    <jdbcDriver id="JDBCDriver">
	 <library>
	  <fileset dir="/config/db2jars" id="db2jcc4" includes="db2jcc4.jar, db2jcc_license_cu.jar"/>
	 </library>
    </jdbcDriver>
    <dataSource  id="ebuy" jdbcDriverRef="JDBCDriver" jndiName="jdbc/ebuy" type="javax.sql.XADataSource">
         <properties.db2.jcc databaseName="${env.DBName}" driverType="4" user="${env.DBUser}" password="${env.DBPass}" portNumber="${env.DBPort}" serverName="${env.DBHost}"  />
    </dataSource>
    <!-- Default SSL configuration enables trust for default certificates from the Java runtime --> 
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
    <logging traceSpecification="ebuy=info"/>
</server>
